
.heading {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

#container {
    width: 1em;
    height: 1em;
    display: table;
    background-color: #ccc;
}
